<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>761433872426-e92mtv3if2lfsrc4nc5rgj3u1q77ttr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761433872426-e92mtv3if2lfsrc4nc5rgj3u1q77ttr1</string>
	<key>API_KEY</key>
	<string>AIzaSyD8oKwVMOJuc79jbG7QhfXTaWJMfe6jAwA</string>
	<key>GCM_SENDER_ID</key>
	<string>761433872426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpan.abc.fbdeneme</string>
	<key>PROJECT_ID</key>
	<string>fbdeneme-e977e</string>
	<key>STORAGE_BUCKET</key>
	<string>fbdeneme-e977e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761433872426:ios:530aa8499ecba4c0</string>
	<key>DATABASE_URL</key>
	<string>https://fbdeneme-e977e.firebaseio.com</string>
</dict>
</plist>